// this file is compile with compass.

@import "compass/utilities/sprites";

[class^="icon-"],
[class*="icon-"] {
	display: inline-block;
	background-repeat: no-repeat;
}

$icon-layout:horizontal;
@import "icons/*.png";
@include all-icons-sprites;
$icons: sprite-map("icons/*.png", $spacing: 10px);

.icon-tel{  	
	width: 18px;
	height: 18px;
	background: sprite($icons, icon-tel);
}
.icon-libra{  	
	width: 25px;
	height: 22px;
	background: sprite($icons, icon-libra);
}
.icon-bath{  	
	width: 25px;
	height: 22px;
	background: sprite($icons, icon-bathtab);
}
.icon-bedroom{  	
	width: 25px;
	height: 22px;
	background: sprite($icons, icon-bedroom);
	background-position: 0 -28px!important;
}

.icon-car{  	
	width: 25px;
	height: 22px;
	background: sprite($icons, icon-car);
	background-position: 0 -52px!important;
}


.icon-bath-o{  	
	width: 32px;
	height: 22px;
	background: sprite($icons, icon-bathtab-o);
	background-repeat: no-repeat;
}
.icon-bedroom-o{  	
	width: 32px;
	height: 22px;
	background: sprite($icons, icon-bedroom-o);
	background-position: 0 -60px;
	background-repeat: no-repeat;
}

.icon-car-o{  	
	width: 32px;
	height: 22px;
	background: sprite($icons, icon-car-o);
	background-position: 0 -111px;
	background-repeat: no-repeat;
}



